/* CSS Document */

#fpg-widget-wrapper {
	overflow-y:hidden;
	overflow-x:auto;
	min-height:180px;
	white-space: nowrap;
}

.fpg-widget-title {
	font-weight:bold;
	color:#444;
	display:block;
	font-size:20px;
	margin:20px 0 20px 0;
}


#fpg-widget-wrapper::-webkit-scrollbar {
    height: 10px;
    width: 10px;
    background: #f1f1f1;
}

	#fpg-widget-wrapper::-webkit-scrollbar-thumb { background: #bbb; }
	#fpg-widget-wrapper::-webkit-scrollbar-corner { background: #000; }

#fpg-widget-wrapper .fpg_product {
	border:2px solid #ddd;
	padding:10px;
	width:48%;
	min-height:170px;
	display:inline-block;
	margin-right:6px;
	float:left;
    background-color: #fff;
}

	#fpg-widget-wrapper .fpg_thumb {
		white-space:normal;
		height:75px;
		margin:0 auto;
		display:block;
	}

	#fpg-widget-wrapper .fpg-name {
		display:block;
		color:#999;
		font-size:12px;
		width:93%;
		white-space:normal;
		text-align:center;
		line-height:14px;
		margin:4px auto;
	}

	#fpg-widget-wrapper .fpg_select,
	#fpg-widget-wrapper .fpg_info {
		height:25px;
		width:25px;
		border-radius:13px;
		background-color:rgba(78, 219, 181, 0.5);
		display:block;
		text-align:center;
		cursor:pointer;
		float:right;
		margin-right:5px;
	}

		#fpg-widget-wrapper .fpg_select span {
			display:block;
			height:100%;
			width:100%;
			line-height:28px !important;
			font:22px arial;
			color:#fff;
			text-align:center;
		}
	#fpg-widget-wrapper .fpg_product i.added { display:none; }

	#fpg-widget-wrapper .fpg_info {
		background-color:#cfcfcf;
	}

	#fpg-widget-wrapper .fpg_info span {
		color:#fff;
		display:block;
		line-height:25px;
		width:100%;
		text-align:center;
		font-weight:bold;
	}

    #fpg-widget-wrapper select {
		width:100%;
        max-width:100%;
        margin:0 auto 10px auto;
        display:block;
        font-size:11px;
		color:#777;
		padding:5px;
    }


/* selected */
	#fpg-widget-wrapper .fpg_product.selected {
		border:2px solid #4edbb5;
	}
	#fpg-widget-wrapper .fpg_product.selected a.fpg_select {
		background-color:#4edbb5;
	}

	#fpg-widget-wrapper .fpg_product.selected span.add { display:none; }
	#fpg-widget-wrapper .fpg_product.selected i.added {
		display:block;
		color:#fff;
		line-height:25px;
	}

#fpg-widget-wrapper .anim-all-100 {
	-webkit-transition: all 0.2s ease-in-out;
	-moz-transition: all 0.2s ease-in-out;
	-o-transition: all 0.2s ease-in-out;
	transition: all 0.2s ease-in-out;
}

