#product-search-results {
    border:1px #eee solid;
    padding:10px;
    height:200px;
    overflow-y: scroll;
    display:none;
}

    #product-search-results .result-item {
        cursor: pointer;
    }