#ddw-weekdays .weekday {
    padding:15px;	
    margin-right:15px;
	border:1px solid #6C868E;
}

#ddw-weekdays .weekday:before {
    display:none;
}

    #ddw-weekdays .weekday .title {
        font-weight:bold;
        text-transform: uppercase;
        display:block;
    }

    #ddw-weekdays .weekday .status {
        text-align:left;
        width:50%;
    }

		#ddw-weekdays .weekday .status i {
			font-size:22px;
			color:#6C868E;
		}

        #ddw-weekdays .weekday .status i,
        #ddw-weekdays .weekday .status a {
            margin-left:2px;
        }

#panel2 {
    z-index:10;
}

    #panel2 .timeslots-wrapper {
        height:200px;
        border:1px solid #f1f1f1;
        overflow-y: auto;
    }