/*
 * Custom style goes here.
 * A template should always ship with an empty custom.css
 */
.anav-top .amenu-item.mm-6 .adropdown-3{
    width: max-content;
    width: -moz-max-content;
}
.anav-top .amenu-item.mm-6 .adropdown-3 .manufacturer-item{
    width: 8%;
}

.ef_energetica {
    position: absolute;
    top: 10px;
    right: 10px;
    z-index: 5;
}