$brand-block-padding: 20px;
.brand-list {
  margin: 0 ($brand-block-padding / -2);
}
.brand-base {
  padding: 5px ($brand-block-padding / 2);
  text-align: center;
  .logo {
    img {
      margin: auto;
      border-radius: 5px;
      box-shadow: 0px 1px 5px $box-shadow-color;
      transition: all 0.3s;
    }
    a:hover img {
      filter: brightness(75%);
    }
  }
  .middle-side {
    margin-top: 10px;
  }
}

.brand-list.list-mode {
  display: flex;
  flex-wrap: wrap;
  .brand-base {
    width: percentage(1/2);
    margin-bottom: 20px;
    @include media-breakpoint-up(sm) {
      width: percentage(1/3);
    }
    @include media-breakpoint-up(md) {
      width: percentage(1/4);
    }
    @include media-breakpoint-up(lg) {
      width: percentage(1/5);
    }
    @include media-breakpoint-up(xl) {
      width: percentage(1/6);
    }
  }
}

.aone-brands {
  margin-bottom: 20px;
  .title-block {
    display: none;
  }
  .slick-prev, .slick-next {
    top: 50%;
    margin-top: -8px;
    opacity: 0;
  }
  .slick-prev {
    left: -5px;
  }
  .slick-next {
    right: -5px;
  }
  .slick-slider:hover {
    .slick-prev, .slick-next {
      opacity: 0.5;
    }    
  }
}
.brand-list-wrapper {
  .slick-slider {
    margin-bottom: 30px;
  }
  .slick-track {
    align-items: center;
  }
}