.search-results-table li {
    padding:20px;
}

.search-results-table li.hidden {
    display: none;
}

.search-results-table li span {
    color:#363a41;
}

.fpg-breadcrumb {
    font-size:11px;
    margin:10px 0 20px 0;
    padding-bottom:10px;
    border-bottom:1px solid #ccc;
}

    .fpg-breadcrumb a {
        display: inline-block;
        margin-right:10px;
        cursor: pointer;
    }

    .fpg-breadcrumb a:after {
        display: inline-block;
        width:5px;
        height:10px;
        color:#aaa;
        margin-left:5px;
        content: '>';
        text-align: center;
    }

.fpg-form-wrapper .form-group {
    display: block;
    clear: both;
    margin-bottom:10px;
    padding:0 15px;
}