#ddw_calendar * {
    font-family: "Helvetica", "Trebuchet MS", Tahoma, Verdana, Arial, sans-serif;
}

#ddw_calendar .ui-datepicker {
    width:100%;
}

#ddw_calendar .ui-widget-header {
    background:none;
    border:none;
}

#ddw_calendar .ui-widget-content {
    border:none;
}

#ddw_calendar .ui-datepicker-calendar th,
#ddw_calendar .ui-datepicker-calendar td {
    padding:0;
}

