/* CSS Document */

#mp-overlay {
    background-color: #000;
    opacity: 0.6;
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    z-index: 999;
}

#mp-popup-wrapper {
    position: fixed;
    z-index: 9999;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    background-color:#fff;
    width:800px;
    height:600px;
    border-radius:10px;
    overflow: hidden;
}

.mp-popup-content {
    width:100%;
    height:98%;
    padding-top:0px;
    overflow-y: auto !important;
    overflow-x: hidden !important;
}

    .mp-popup-content .subpanel {
        position: absolute !important;
        left: 0px;
        top: 0px;
        min-height: 400px;
        min-width: 400px;
    }

#mp-popup-close {
    position: absolute;
    right:10px;
    top:10px;
    z-index:1000;
}

    #mp-popup-close i {
        font-size:20px;
    }